<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Welcome</title>
  <link href="https://fonts.googleapis.com/css?family=Monoton|Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
  <div class="container">
    <header>
      <h1>Welcome</h1>
    </header>
    <div class="content">
      <p>Where are the robots?</p>
    </div>
    <footer></footer>
  </div>


</body>

</html>