<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>Where are the robots</title>
  <link href="https://fonts.googleapis.com/css?family=Monoton|Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
  <div class="container">

    <div class="content">
      <p>Guess you found the robots<br>
        <br>
        <flag>{{ flag }}</flag>
      </p>
    </div>
    <footer></footer>


  </div>
</body>

</html>