* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a18b8b;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  nav {
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  #hero {
    background-image: url('https://images.pexels.com/photos/356065/pexels-photo-356065.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    /* _W3B */
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;}
  